body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

#main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#task-section {
  width: 300px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#title {
  text-align: center;
  color: #333;
}

#addTaskForm {
  display: flex;
  margin-bottom: 10px;
}

#taskNameInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

#addTaskButton {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f9f9f9;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

#addTaskButton:hover {
  background-color: #f9f9f9;
}

#taskFilter {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.task-list-container {
  margin-top: 20px;
}

.task-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.checkbox {
  margin-right: 10px;
}

.task-title {
  flex: 1;
  margin: 0 10px;
  color: #333;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-title.completed {
  text-decoration: line-through;
  color: gray;
}

.delete-button {
  border: none;
  background-color: transparent;
  color: #dc3545;
  cursor: pointer;
}
